.home[data-v-1967706d]{margin:0 0 auto}.home__block[data-v-1967706d]{display:flex;padding:60px 0;align-items:center;justify-content:center}.home__list[data-v-1967706d]{display:flex;flex-direction:column;gap:20px}
